
<!doctype html>
<html lang="en">
  <head>
          <meta charset="UTF-8" />
          <link rel="stylesheet" type="text/css" href="clearstyles.css" />
          <title>Clear!</title>
  </head>
  <body>
    <section id= "container">
            <section id="maincontent">
              <section>
           <%= form_for @order do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :card_number %><br>
    <%= f.text_field :card_number %>
  </div>
  <div class="field">
    <%= f.label :card_type %><br>
    <%= f.select :card_type ,[["Visa", "visa"],["Mastercard","master"]] %>
  </div>
  <div class="field">
    <%= f.label :card_expires %><br>
    <%= f.date_select :card_expires %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
          </section>
              </table>
            </section>
            <aside>
              <table>
                <h2>Categories</h2>
                <tbody>
                  <% @categories.each do |product| %>
                    <tr>
                      <p>
                        <%= link_to product.name, product %>
                      </p>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </aside>
            <div id="follow">
              <h2>FOLLOW US</h2>
              <a href="http://www.facebook.com" target="blank"><img alt="" src="http://www.speedfactorracing.com/wp-content/themes/sf_theme/images/facebook_icon.png" /></a>
              <a href="http://www.instagram.com" target="_blank"><img alt="" src="http://www.speedfactorracing.com/wp-content/themes/sf_theme/images/instagram_icon.png" /></a>
              <a href="http://www.youtube.com" target="blank"><img alt="" src="http://www.speedfactorracing.com/wp-content/themes/sf_theme/images/youtube_icon.png" /></a>
              <a href="http://www.flickr.com" target="_blank"><img alt="" src="http://www.speedfactorracing.com/wp-content/themes/sf_theme/images/flickr_icon.png" /></a>
            </div>
            <footer><%= link_to 'Categories' , new_product_path %></footer>
    </section>
  </body>
</html>

