<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="menu">
    <%= form_tag search_results_path , method: 'get' do%>
    <tr>
      
      <td><%= link_to 'Home' , root_path%></td>
      <td><%= link_to 'Products' , products_path%></td>
      <td><%= link_to 'Contact US' , root_path%></td>
      <td><%= link_to 'About US' , root_path%></td>
      <td>
        <%= text_field_tag :search_keywords %>
        <%= collection_select(:cat_id, :koko, Category.all, :id, :name) %>
      
        <%= submit_tag "Search"%>
      </td>
     
    </tr>
     <% end %>
  </div>
   <header><%= image_tag("/assets/Untitled.jpg", :alt => "rss feed") %></header>
   
<%= yield %>

</body>
</html>
